@page "/vybaveni/{Id:guid}"
@inject HttpClient Http

<h3 class="display-3">Detail výrobku - @item.Name</h3>


    <table class="table table-striped table-primary">
        <tbody>
       <tr>
            <th> Id </th>
            <td>@item.Id</td>
       </tr>    
       <tr>
            <th> Jméno </th>
            <td>@item.Name</td>
       </tr> 
       <tr>
            <th> Datum nákupu </th>
            <td>@item.BoughtDateTime</td>
       </tr> 

       <tr>
           <th> Revize</th>
       </tr>
       @foreach (var revision in item.Revizions)
        {
        <tr>            
            <td>@revision.Id</td>
            <td>@revision.Name</td>
            <td>@revision.DateTime</td>
       </tr> 
        }      
      <tr>
           <th> Ukony</th>
       </tr>
       @foreach (var ukon in item.Ukonis)
        {
        <tr>            
            <td>@ukon.Id</td>
            <td>@ukon.Name</td>
            <td>@ukon.DateTime</td>
            <td>@ukon.PracovniciName</td>    
                
       </tr> 
        }   
        
        

        <tr>
            <th> Cena </th>
            <td>@item.PriceCzk</td>
       </tr>
       
       </tbody> 
    </table>
    

@code {
    VybaveniSRevizemaModel? item;
    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {

        item = await Http.GetFromJsonAsync<VybaveniSRevizemaModel>($"/vybaveni/{Id}");
    }
}
